
<p>This is the guessing game.</p>

<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>


<p>This is the number: </p> <%= number %>
<p>It's an easy guessing game.</p>