<html>
  <head>
    <style>
  	</style>
  </head>
  <body>
  	<h1>Online Web Games: A Sinatra Project</h1>
  	<header>
  	  <table>
  	  	<tr>
  	  	  <td>Home</td>
  	  	  <td>Guessing Game</td>
  	  	  <td>Ceasar Cypher</td>
  	  	  <td>Hangman</td>
  	  	</tr>
  	  </table>
  	</header>
  	<p> <%= yield %> </p>
  </body>
</html>
